.sm_card {
  --active-color: #7a5edc;
  --gray-color: #ccd2e8;
  --dark-gray-color: #404040;
  --dark-light-gray-color: #868686;
  --white-color: #f1f4ff;
}

.sm_card .label {
  padding: 0.5rem;
  background-color: var(--white-color);
  border: 1px solid var(--gray-color);
  border-radius: 0.5rem;
  width: 100%;
  display: inline-flex;
  align-items: center;
}

[data-theme='dark'] .sm_card .label {
  border-color: var(--dark-gray-color);
  background-color: var(--dark-gray-color);
}

.sm_card .check {
  position: relative;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: none;
  background-color: var(--gray-color);
  border-radius: 0.3rem;
  margin-right: 0.5rem;
}

[data-theme='dark'] .sm_card .check {
  background-color: var(--dark-light-gray-color);
}

.sm_card .check::after {
  content: '✗';
}

.sm_card input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.sm_card input:checked + .label {
  color: var(--active-color);
  background-color: transparent;
  border: 1px solid currentColor;
  box-shadow: 0 0 6px -3px currentColor;
}

.sm_card input:checked + .label .check {
  background-color: var(--active-color);
}

.sm_card input:checked + .label .check::after {
  content: '✓';
  color: var(--white-color);
  text-shadow: 0.5px 2px 0 var(--active-color);
}

.firstHeight {
  --max-height: 40rem;
  animation: heightAuto 1s ease 0s;
}

@keyframes heightAuto {
  from {
    max-height: 0px;
  }

  to {
    max-height: var(--max-height);
  }
}
