@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

.font {
  font-family: 'PT Serif', serif;
}

.orgName {
  display: flex;
}

.inputStyle {
  outline: none;
  padding: 0; /* Remove padding on all sides */
  border: none;
  -webkit-background-clip: text;
  background-clip: text;
}

.orgName:has(
    .inputStyle:-webkit-autofill,
    .inputStyle:-webkit-autofill:hover,
    .inputStyle:-webkit-autofill:focus
  ) {
  background-color: #eef5ff;
}
