@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 375px) {
  .max-375-footrt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .max-375-footrt-img img {
    margin-right: 0;
  }

  .max-375-footrt-icon {
    margin-left: 30%;
  }
}

.notFound {
  background-image: url('https://res.cloudinary.com/feyton/image/upload/v1657749735/lost_gxifna.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: left;
}

.hero {
  background-image: linear-gradient(to right, #24243e, #302b63c9, #0f0c2945),
    url('https://images.unsplash.com/photo-1531482615713-2afd69097998?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}