@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 375px) {
  .max-375-footrt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .max-375-footrt-img img {
    margin-right: 0;
  }

  .max-375-footrt-icon {
    margin-left: 30%;
  }
}

/* 404 Page */
.errorImg {
  background-image: linear-gradient(to top, #24243e, #302b63c9, #0f0c2945),
    url('https://images.unsplash.com/photo-1531482615713-2afd69097998?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* height: 80vh; */
}

.triangle {
  display: block;
  /* width: 250px;
  height: 230px; */
  background-color: #148fb6;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

/* .m-width {
  max-width: 150px;
  max-height: 120px;
} */

/* HERO SECTION */
.hero {
  background-image: linear-gradient(to right, #24243e, #302b63c9, #0f0c2945),
    url('https://images.unsplash.com/photo-1531482615713-2afd69097998?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
@layer components {
  .btn {
    @apply font-bold py-2 px-4 m-2 rounded-md;
  }
  .sm {
    @apply px-2;
  }

  .md {
    @apply px-4;
  }

  .lg {
    @apply px-6;
  }

  .xl {
    @apply px-16;
  }

  /*button colors: primary, info, success, danger, dark */

  .primary {
    @apply bg-primary text-white font-semibold;
  }
  .primary:hover {
    @apply bg-primary text-white font-semibold;
  }

  .transparentbtn {
    @apply bg-transparent text-primary dark:text-dark-text-fill border border-primary dark:border-dark-text-fill;
  }

  .success {
    @apply bg-green-500 text-white;
  }
  .success:hover {
    @apply bg-green-600 text-white;
  }

  .info {
    @apply bg-gray-400 text-white;
  }
  .info:hover {
    @apply bg-gray-500 text-white;
  }
  .danger {
    @apply bg-red-500 text-white;
  }
  .danger:hover {
    @apply bg-red-600 text-white;
  }

  .dark {
    @apply bg-primary text-white;
  }
  .dark:hover {
    @apply bg-primary text-white;
  }
  .thead {
    @apply p-6 border-b-2 border-gray-200 bg-gray-100 dark:bg-dark-tertiary text-left text-xs font-semibold text-gray-600 dark:text-white uppercase tracking-wider;
  }
  .data-cell {
    @apply px-5 py-5 border-b border-gray-200 bg-white dark:bg-dark-bg text-sm;
  }
  /* .my-react-select-container {
  } */
  .my-react-select-container .my-react-select__control {
    @apply bg-white dark:bg-dark-tertiary border-2 border-primary dark:border-primary hover:border-dark-tertiary dark:hover:border-dark-tertiary;
  }

  .my-react-select-container .my-react-select__control--is-focused {
    @apply border-primary hover:border-neutral-500 dark:border-primary dark:hover:border-neutral-400 shadow-none;
  }

  .my-react-select-container .my-react-select__menu {
    @apply bg-neutral-100 dark:bg-dark-tertiary border-2 border-neutral-300 dark:border-primary;
  }

  .my-react-select-container .my-react-select__option {
    @apply text-neutral-600 dark:text-neutral-200 bg-neutral-100 hover:bg-neutral-200 dark:bg-dark-tertiary dark:hover:bg-neutral-800;
  }
  /* .my-react-select-container .my-react-select__option--is-focused {
    @apply bg-neutral-200 dark:bg-neutral-800;
  } */

  .my-react-select-container .my-react-select__indicator-separator {
    @apply bg-neutral-400;
  }

  .my-react-select-container .my-react-select__input-container,
  .my-react-select-container .my-react-select__placeholder,
  .my-react-select-container .my-react-select__single-value {
    @apply text-neutral-600 dark:text-neutral-200;
  }
  .my-react-select-container .my-react-select__placeholder {
    @apply dark:bg-dark-tertiary;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.page {
  border: solid 0.1rem #4aa5be;
  border-radius: 0.5rem;
}

.page.active,
.page:hover {
  background-color: #4aa5be;
}

.page.disabled {
  background-color: transparent !important;
  cursor: not-allowed;
  opacity: 0.5;
}
