@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 375px) {
  .max-375-footrt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .max-375-footrt-img img {
    margin-right: 0;
  }

  .max-375-footrt-icon {
    margin-left: 30%;
  }
}

/* 404 Page */
.errorImg {
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.724),
      rgba(17, 0, 43, 0.753)
    ),
    url(https://res.cloudinary.com/deygsvbub/image/upload/v1691651478/Home_page_image_1_io1spq.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 80vh;
}

.triangle {
  display: block;
  /* width: 250px;
  height: 230px; */
  background-color: #148fb6;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.text-style {
  color: var(--neutral-neutral-900, #424242);
  font-family: poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 36px */
  text-align: justify;
}

.header-style {
  color: var(--neutral-neutral-900, #424242);
  font-family: poppins;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  /* 35px */
}

.card-image {
  justify-content: space-evenly;
  align-items: center;
  align-content: space-between;
}

.card-text {
  color: var(--neutral-neutral-900, #424242);
  font-family: poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-align: justify;
}

.font {
  font-family: Poppins;
}

.text-img {
  color: var(--base-light, #fff);
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('https://res.cloudinary.com/bdushimi/image/upload/v1683554711/Andela_Rwanda_Engineers_zr7awr.jpg');

  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
  .hero {
    background-attachment: scroll;
  }
}

/* .m-width {
  max-width: 150px;
  max-height: 120px;
} */

/* input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
} */
@layer components {
  .btn {
    @apply px-4 py-2 m-2 font-bold rounded-md;
  }

  .sm {
    @apply px-2;
  }

  .md {
    @apply px-4;
  }

  .lg {
    @apply px-6;
  }

  .xl {
    @apply px-16;
  }

  /*button colors: primary, info, success, danger, dark */

  .primary {
    @apply font-semibold text-white bg-primary;
  }

  .primary:hover {
    @apply font-semibold text-white bg-primary;
  }

  .transparentbtn {
    @apply bg-transparent border text-primary dark:text-dark-text-fill border-primary dark:border-dark-text-fill;
  }

  .success {
    @apply text-white bg-green-500;
  }

  .success:hover {
    @apply text-white bg-green-600;
  }

  .info {
    @apply text-white bg-violet-400;
  }

  .info:hover {
    @apply text-white bg-violet-500;
  }

  .danger {
    @apply text-white bg-red-500;
  }

  .danger:hover {
    @apply text-white bg-red-600;
  }

  .dark {
    @apply text-white bg-white;
  }

  .dark:hover {
    @apply text-white bg-white;
  }

  .thead {
    @apply p-6 border-b-2 border-gray-400 bg-indigo-200 dark:bg-neutral-600 text-left text-xs font-semibold text-gray-600 dark:text-white uppercase tracking-wider;
  }

  .data-cell {
    @apply px-5 py-5 text-sm bg-indigo-100 border-b border-gray-400 dark:bg-dark-bg;
  }

  .my-react-select-container {
    width: 100%;
  }

  .my-react-select-container .my-react-select__control {
    @apply w-full pl-2 font-sans text-xs bg-white border rounded outline-none border-primary dark:border-primary dark:bg-dark-bg dark:text-white;
  }

  .my-react-select-container .my-react-select__control--is-focused {
    @apply shadow-none dark:bg-dark-bg;
  }

  .my-react-select-container .my-react-select__menu {
    @apply border-2 bg-neutral-100 dark:bg-dark-bg border-neutral-300 dark:border-primary;
  }

  .my-react-select-container .my-react-select__option {
    @apply text-neutral-600 dark:text-neutral-200 bg-neutral-100 hover:bg-neutral-200 dark:bg-dark-bg dark:hover:bg-neutral-800;
  }

  .my-react-select-container .my-react-select__indicator-separator {
    @apply bg-neutral-400 dark:bg-dark-bg;
  }

  input[type='date']::before {
    content: attr(data-placeholder);
    width: 100%;
  }

  input[type='date']:focus::before,
  input[type='date']:valid::before {
    display: none;
  }

  .my-react-select-container .my-react-select__input-container,
  .my-react-select-container .my-react-select__placeholder,
  .my-react-select-container .my-react-select__single-value {
    @apply text-neutral-600 dark:text-neutral-200;
  }

  .my-react-select-container .my-react-select__placeholder {
    @apply text-[#9ca3af] dark:text-[#9ca3af];
    @apply bg-white dark:bg-dark-bg;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.page {
  border: solid 0.1rem #9e85f5;
  border-radius: 0.5rem;
}

.page.active,
.page:hover {
  background-color: #9e85f5;
}

.page.disabled {
  background-color: transparent !important;
  cursor: not-allowed;
  opacity: 0.5;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}

.loader:after {
  content: ' ';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loader 2s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

@media (max-width: 776px) {
  .big0 {
    flex-direction: column;
  }

  .big {
    width: 100%;
  }

  .big2 {
    box-sizing: border-box;
    width: 100%;
  }
}

th {
  max-width: 150px;
  /* Adjust as needed */
}

@media (max-width: 375px) {
  .cardReg {
    width: 80%;
  }

  .Terms {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

/* page layout style */
.page-layout {
  display: grid;
  grid-template-areas:
    'header header'
    'side_nav main'
    'footer footer';
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
}

.page-layout > * {
  max-width: min(100%, 100vw);
  box-sizing: border-box;
}

.page-header {
  position: sticky;
  top: 0;
  grid-area: header;
  z-index: 2;
}

.page-sideNav {
  grid-area: side_nav;
  width: max-content;
  z-index: 1;
}

.page-main {
  grid-area: main;
  width: 100%;
  overflow-x: auto;
}

.page-footer {
  grid-area: footer;
}

/* TRAINEE DASHBOARD */
/* View comment model */
.blur-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  z-index: 999;
  pointer-events: none;
}

/*====================MEDIA QUERIES(STUBBORN SMALL DEVICES)==================*/
@media screen and (max-width: 575px) {
  .Progres-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-left: 0;
    width: 100%;
    margin-left: 1rem;
  }
  .perfomance-bar {
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
  }
  .quality-bar {
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    margin-left: 2rem;
  }
  .quantity-bar {
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    margin-left: 2rem;
  }

  .phases {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .cohort-phase {
    display: block;
    width: 80%;
  }
  .cohort-bar {
    display: none;
  }
  .Trainee-chart {
    display: none;
  }
}

.trainee-table tr:nth-child(even) {
  background-color: #fcfdff;
}

/* TRAINEE DASHBOARD */
/*====================MEDIA QUERIES(STUBBORN SMALL DEVICES)==================*/
@media screen and (max-width: 375px) {
  .cohort-phase {
    display: block;
    width: 100%;
    height: 100%;
  }

  .cohort-bar {
    display: none;
  }
}
/* TRAINEE DASHBOARD */
/*====================MEDIA QUERIES(STUBBORN SMALL DEVICES)==================*/
@media screen and (max-width: 393px) {
  .cohort-phase {
    display: flex;
    flex-direction: row;
    width: 70vw;
    height: 10vh;
  }
  .cohort-bar {
    display: none;
  }
}
