@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 375px) {
  .max-375-footrt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .max-375-footrt-img img {
    margin-right: 0;
  }

  .max-375-footrt-icon {
    margin-left: 30%;
  }
}

.notFound {
  background-image: url('https://res.cloudinary.com/feyton/image/upload/v1657749735/lost_gxifna.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: left;
}

.hero {
  background-image: linear-gradient(to right, #24243e, #302b63c9, #0f0c2945),
    url('https://images.unsplash.com/photo-1531482615713-2afd69097998?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@layer components {
  .btn {
    @apply font-bold py-2 px-4 m-2 rounded-md;
  }
  .sm {
    @apply px-2;
  }

  .md {
    @apply px-4;
  }

  .lg {
    @apply px-6;
  }

  .xl {
    @apply px-16;
  }

  /*button colors: primary, info, success, danger, dark */

  .primary {
    @apply bg-primary text-white font-semibold;
  }
  .primary:hover {
    @apply bg-primary text-white font-semibold;
  }

  .transparentbtn {
    @apply bg-transparent text-primary dark:text-dark-text-fill border border-primary dark:border-dark-text-fill;
  }

  .success {
    @apply bg-green-500 text-white;
  }
  .success:hover {
    @apply bg-green-600 text-white;
  }

  .info {
    @apply bg-gray-400 text-white;
  }
  .info:hover {
    @apply bg-gray-500 text-white;
  }
  .danger {
    @apply bg-red-500 text-white;
  }
  .danger:hover {
    @apply bg-red-600 text-white;
  }

  .dark {
    @apply bg-primary text-white;
  }
  .dark:hover {
    @apply bg-primary text-white;
  }
}
